@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.scroller::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroller::-webkit-scrollbar-track {
  background: transparent;
}

.scroller::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

.scroller::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

body {
  background-color: #f1f5f9;
  color: #334155;
}